h1{
    color: blue;
    text-decoration-line: underline;
    text-align: center;
    background-color: yellow;

}

div.userData{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}


html {
    scroll-behavior: auto;
   
}